*{
    margin:auto;
    box-sizing: border-box!important;
    background-color: #1a202c;
    color:#f7fafc;
    font-family: 'Aleo'!important;
    font-size: 22px!important;
	text-align: center;

}
h1 {
	font-size: 55px!important
}
a{
	color:white
}
.btn {
	margin-left: 10px;
	margin-right: 10px;
}

input{
	border:1px solid #49587a
}