*{
    margin:auto;
    box-sizing: border-box;
}
body{
    background-color: navajowhite;
}
.bla {
    display: inline-block;
    /* margin-left: 15px; */
    /* margin-right: 150px; */
    height: 30px;
    line-height: 1.8 
}
input{
     margin-top:1rem;
     margin-bottom: 1rem;
     /* margin-left: 350px */
     /* position: absolute; */
     /* align-items: right; */
     /* display: block; */
     /* margin-right: 150px; */
    width: 200px;
    height: 25px;
}

.blabla {
    margin-top:1rem;
    /* padding-left: 150px; */
    /* padding-right: 150px; */
    width: 80%;
    display: flex;
    flex-direction: row!important;
    text-align: center;
}